/* 1046 x 700 */

/* 398 x 265 - tiled images */

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: url(../images/sunset-for-port.jpg) no-repeat 0 center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-row {
  height: 35vh;
  position: relative;
  color: white;
}

.btn-default {
  background-color: transparent;
  border-color: white;
}

.body-row {
  height: 55vh;
  color: white;
  font-weight: 400;
  font-size: 16px;
/*  font-family: 'Open Sans', sans-serif;*/
  padding: 10px 0;
}

ul {
  list-style-type: none;
  line-height: 24px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  font-style: italic;
  color: white;
}

.footer-row {
  height: 10vh;
  color: white;
}

.intro-social-buttons {
  margin-bottom: 0px;
}

.btn-social {
  height: 50px;
  width: 50px;
  border-radius: 50%;

  -webkit-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  transition: .1s background-color linear;
}

.btn-social:hover {
  background-color: #576AA1;
}

.fa-social {
  margin-left: -2px;
  line-height: 29px;
}

.fa-envelope-o {
  margin-left: -4px;
}

.fa-social:before {
  color: white;
}

.fade-in-description {
  opacity: 0;
  z-index: 10;
  background: rgba(255,255,255,.85);
  text-align: center;
  margin-top: -135px;
  color: #212528;

  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.btn-visit {
  border: 2px solid #576AA1;
  color: #576AA1;
  padding: 15px 40px;

  -webkit-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  transition: .1s background-color linear;
}

.btn-visit:hover {
  background-color: #576AA1;
  color: white;
}

@media (max-width: 768px) {
  header {
    background-position: -85px 0;
    background-size: auto 400px;
    height: 405px;
  }

  .cycling-img { height: auto; }
  .portfolio-row { height: 550px; }
  .project-description { padding-left: 25px; }
  .play-container { padding-bottom: 160px; }
  .list-inline > .instagram-li { display: none; }
}